{% extends 'base.html' %}
{% block content %}
<div>
    <h2>Pet number {{ pet.id }} details :</h2>
    <h3>{{ pet.name|capfirst }}</h3>
    <h3>{{ pet.species }}</h3>
    {% if pet.breed%}
    <h3>{{ pet.breed }}</h3>
    {% endif %}

    {% if pet.age%}
    <h3>{{ pet.age }}</h3>
    {% endif %}

    {% if pet.sex%}
    <h3>{{ pet.sex }}</h3>
    {% endif %}
    {% if pet.vaccinations.all %}
    <p>Vaccinations for:</p>
    <ul>
        {% for vaccination in pet.vaccinations.all %}
        {{ vaccination.name}}
        {% endfor %}
    </ul>
    {% endif %}
    <p>Submission by: {{ pet.submitter}}</p>
    <p>Submission on: {{ pet.submission_date|date:"M d Y"}}</p>
    <p>{{ pet.description }}</p>
</div>
{% endblock %}